<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lecture.mobile.final_project.ma01_20150995">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="25" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="25" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB61OqER4yt4T7DNfpBzhsDl89bl7OiQk8" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BackGroundActivity" />
        <activity android:name=".AddDiaryActivity" />
        <activity android:name=".ShowInfo" />
        <activity android:name=".AddDateList" />
        <activity android:name="com.yongchun.library.view.ImageSelectorActivity" />
        <activity android:name="com.yongchun.library.view.ImagePreviewActivity" />
        <activity android:name="com.yongchun.library.view.ImageCropActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="lecture.mobile.final_project.ma01_20150995"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".BroadCast" />

        <activity android:name=".CustomDialog" />
        <activity android:name=".RegisterInfo" />
        <activity android:name=".UpdateDateList" />
        <activity android:name=".CalendarAdapter" />
        <activity android:name=".SMSReceiveActivity" />
        <activity android:name=".SlideActivity" />
        <activity android:name=".DiaryShow" />
        <activity android:name=".DiaryEditActivity" />
        <activity android:name="com.facebook.FacebookActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider184783305594275"
            android:exported="true" />

        <activity android:name=".EdtiProfileActivity"></activity>
    </application>

</manifest>